.container
    display: flex
    flex-direction: column

    gap: 3rem

    height: 100%

    .orgHeader
        display: flex
        flex-direction: row
        gap: 2rem

        h1
            font-size: 2.6rem
            letter-spacing: 0.2rem

        article
            display: flex
            flex-direction: column
            justify-content: space-between

            p
                color: var(--color-dimmed)

        > div
            display: flex
            justify-content: center
            align-items: center
            padding: 0 1rem

            margin-left: auto
    
    .orgMain
        padding: 0.4rem

        display: flex
        flex-direction: column
        gap: 0.8rem

        background-color: var(--background)

        // min-height: 100%
        // height: auto

        border-radius: 15px

        box-shadow: 0 0 20px #20202010

.loadingContainer
    height: 80%
    width: 100%

    display: flex
    justify-content: center
    align-items: center
