* 
  box-sizing: border-box
  padding: 0
  margin: 0


html,
body 
    max-width: 100vw
    overflow-x: hidden
    background: url('/bg.png') no-repeat
    background-size: cover

@font-face
    font-family: DMSans
    src: url('DMSans.ttf')

body
    min-height: 100vh
    color: white
    font-family: DMSans

::selection
    color: #ffffff
    background: #8A8FF8

::-moz-selection
    color: #ffffff
    background: #8A8FF8

.btn-def
    padding: 0.5rem 1rem
    border: none
    // border-radius: 0.2rem

    font-weight: 600
    color: #ffffff

    background-color: #8A8FF8

    &:hover
        cursor: pointer

.btn-ref
    padding: 0.5rem 1rem
    border: none
    // border-radius: 0.2rem

    font-weight: 600
    color: #8A8FF8

    background-color: #ffffff

    &:hover
        cursor: pointer
